## This document compare some social variables between different spatial scales

In [20]:
import os
import sys
import numpy as np
import pandas as pd
import geopandas as gpd
import fhv
from sklearn.preprocessing import MinMaxScaler, PowerTransformer, QuantileTransformer
import matplotlib.pyplot as plt
# # Load complete datasets
# variable_name = pd.read_hdf('./data/DistIndicators_table.hdf')
# variable = pd.read_hdf('./data/DistIndicators.hdf')

In [16]:
# Label values is manually exported and translated
fn_label = os.path.join('data','census','label_values.xlsx')

# EDUCATION
# - PLITERACY: Percent population who cannot read and write
liter = fhv.LoadCensusINEI(os.path.join('data','census','C5P12.xlsx'), fn_label)
liter = fhv.CorrectDistrict(liter, 'sum')
liter
# census['PLITERACY'] = df[df.columns[2]]/df.sum(axis=1)

,District,If you can read and write,Does not know how to read and write
IDDIST,,,
10101,"Amazonas, Chachapoyas, distrito de Chachapoyas",28270,2766
10102,"Amazonas, Chachapoyas, distrito de Asunción",204,46
10103,"Amazonas, Chachapoyas, distrito de Balsas",876,190
10104,"Amazonas, Chachapoyas, distrito de Cheto",551,61
10105,"Amazonas, Chachapoyas, distrito de Chiliquin",453,104
...,...,...,...
250303,"Ucayali, Padre Abad, distrito de Curimana",6116,1052
250304,"Ucayali, Padre Abad, distrito de Neshuya",6054,1012
250305,"Ucayali, Padre Abad, distrito de Alexander Von...",4024,795
250401,"Ucayali, Purús, distrito de Purús",1969,695
120699,"Junín, Satipo, distrito de MazamariJunín, Sati...",68848,14463

In [17]:
shp_fn = './data/DISTRITOS.shp'
gdf = gpd.read_file(shp_fn)
gdf

,IDDPTO,DEPARTAMEN,IDPROV,PROVINCIA,IDDIST,DISTRITO,CAPITAL,CODCCPP,AREA,FUENTE,geometry
0,10,HUANUCO,1009,PUERTO INCA,100902,CODO DEL POZUZO,CODO DEL POZUZO,0001,1,INEI,POLYGON ((-75.31797010604475 -9.29528868932607...
1,10,HUANUCO,1009,PUERTO INCA,100904,TOURNAVISTA,TOURNAVISTA,0001,1,INEI,POLYGON ((-74.64135623413273 -8.82302285110080...
2,25,UCAYALI,2503,PADRE ABAD,250305,ALEXANDER VON HUMBOLDT,ALEXANDER VON HUMBOLDT,0001,1,INEI,POLYGON ((-75.0225289144135 -8.741928265062938...
3,25,UCAYALI,2503,PADRE ABAD,250302,IRAZOLA,SAN ALEJANDRO,0001,1,INEI,POLYGON ((-75.13863842934722 -8.56711572187055...
4,25,UCAYALI,2503,PADRE ABAD,250304,NESHUYA,MONTE ALEGRE,0001,1,INEI,POLYGON ((-75.01588753932498 -8.44637001511011...
...,...,...,...,...,...,...,...,...,...,...,...
1868,10,HUANUCO,1006,LEONCIO PRADO,100608,CASTILLO GRANDE,CASTILLO GRANDE,0001,1,INEI,POLYGON ((-76.08082566485177 -9.13017214081685...
1869,10,HUANUCO,1006,LEONCIO PRADO,100609,PUEBLO NUEVO,PUEBLO NUEVO,0001,1,INEI,POLYGON ((-75.88828423358819 -9.00906205034766...
1870,10,HUANUCO,1006,LEONCIO PRADO,100610,SANTO DOMINGO DE ANDA,PACAE,0001,1,INEI,POLYGON ((-75.9114131804584 -8.885927976735047...
1871,21,PUNO,2111,SAN ROMAN,211105,SAN MIGUEL,SAN MIGUEL,0001,1,INEI,POLYGON ((-70.13203299999975 -15.3338199999998...
1872,15,LIMA,1508,HUAURA,150806,HUAURA,HUAURA,0001,1,INEI,POLYGON ((-77.37630123699995 -10.8973403539998...

In [14]:
loreto = gdf[gdf['IDDPTO'] == '16']
maynas = gdf[gdf['IDPROV'] == '1601']
district_targ = [160101,160102,160108,160112,160113]   # [Iquitos, Alto Nanay, Punchana, Belen, San Juan Bautista]
district = gdf[gdf['IDDIST'].astype(int).isin(district_targ)]
district

,IDDPTO,DEPARTAMEN,IDPROV,PROVINCIA,IDDIST,DISTRITO,CAPITAL,CODCCPP,AREA,FUENTE,geometry
559,16,LORETO,1601,MAYNAS,160113,SAN JUAN BAUTISTA,SAN JUAN,0001,1,INEI,POLYGON ((-73.28418585799983 -3.75295934699988...
560,16,LORETO,1601,MAYNAS,160101,IQUITOS,IQUITOS,0001,1,INEI,POLYGON ((-73.27180973299988 -3.71641597199982...
675,16,LORETO,1601,MAYNAS,160102,ALTO NANAY,SANTA MARIA DE NANAY,0001,1,INEI,POLYGON ((-74.88018748399992 -2.36253322099992...
1660,16,LORETO,1601,MAYNAS,160112,BELEN,BELEN,0001,1,INEI,POLYGON ((-73.06899035799995 -3.74903059699988...
1668,16,LORETO,1601,MAYNAS,160108,PUNCHANA,PUNCHANA,0001,1,INEI,POLYGON ((-73.2904902329999 -3.554496471999926...

In [12]:
a = gdf['IDDIST'].astype(int)
targ = 
a.isin(targ).sum()

5

In [34]:
# Load the selected variables
data = pd.read_csv('./data/510_community_risk.csv', sep=';')
poverty = data[['pcode','name','Poverty incidence']]
poverty = poverty.set_index('pcode')
# # Fill missing values (all missing values are regarded as zero)
# risk[risk.isnull()] = 0
# # Scaling for incidence variables (Quantile transform)
# scaler = QuantileTransformer()
# target = ['NEDUFACIL','NHEALFACIL','TTCITY','VECTORDIS','WATERDIS']
# risk[target] = scaler.fit_transform(risk[target])
# # Fill missing districts (simply copy nearest valid ones)
# risk = risk.reindex(census.index)
# risk = risk.fillna(method = 'ffill')

                                        name  Poverty incidence
pcode
230110  Coronel Gregorio Albarracin Lanchipa             0.2075
230108                              Pocollay             0.1357
230103                                Calana             0.0834
230101                                 Tacna             0.0622
230109                                  Sama             0.1421
...                                      ...                ...
160303                                 Tigre             0.5583
160107                                  Napo             0.5704
160109                              Putumayo                NaN
160110                        Torres Causana             0.6201
160114               Teniente Manuel Clavero                NaN

[1832 rows x 2 columns]