## This document compare some social variables between different spatial scales

In [217]:
import os
import sys
import numpy as np
import pandas as pd
import geopandas as gpd
import fhv
from functools import reduce

In [226]:
# Label values is manually exported and translated
fn_label = os.path.join('data','census','label_values.xlsx')
# - Total population
df = fhv.LoadCensusINEI(os.path.join('data','census','EDQUINQ.xlsx'), fn_label)
df = fhv.CorrectDistrict(df, 'sum')
census = pd.DataFrame(index=df.index)  # This should be located at here (#IDDIST=1873)
popu = df.sum(axis=1)                  # Total population: 29381884
# - Literacy
litr = fhv.LoadCensusINEI(os.path.join('data','census','C5P12.xlsx'), fn_label)
litr = fhv.CorrectDistrict(litr, 'sum')
assert np.all(litr.index == popu.index)
litr['PLITERACY'] = litr[litr.columns[1]]/litr.sum(1)
litr['POPU'] = popu
litr = litr[['POPU','PLITERACY']]
# - Poverty
povr = pd.read_csv('./data/510_community_risk.csv', sep=';')
povr = povr[['name','pcode','Poverty incidence']]
povr.columns = ['NAME','pcode','PPOVERTY']
povr = povr.set_index('pcode')
povr.index.name = 'IDDIST'
povr = povr.fillna(method = 'ffill')
# Merge data
data = pd.merge(litr, povr, on='IDDIST', how='inner')
data = data[['NAME','POPU','PLITERACY','PPOVERTY']]
data['ADM1'] = data.index//10000
data['ADM2'] = data.index//100
loreto = data[data['ADM1']==16]
maynas = data[data['ADM2']==1601]

# District
district_targ = [160101,160102,160108,160112,160113]   # [Iquitos, Alto Nanay, Punchana, Belen, San Juan Bautista]
district = data[data.index.astype(int).isin(district_targ)]
table = district[district.columns[:4]]

# PROVINCE: MAYNAS
table.loc[1601,'NAME'] = 'Maynas'
table.loc[1601,'POPU'] = maynas['POPU'].sum() 
table.loc[1601,'PLITERACY'] = np.sum(maynas['POPU']*maynas['PLITERACY'])/maynas['POPU'].sum()
table.loc[1601,'PPOVERTY'] = np.sum(maynas['POPU']*maynas['PPOVERTY'])/maynas['POPU'].sum()
# DEPARTMENT: LORETO
table.loc[16,'NAME'] = 'Loreto'
table.loc[16,'POPU'] = loreto['POPU'].sum() 
table.loc[16,'PLITERACY'] = np.sum(loreto['POPU']*loreto['PLITERACY'])/loreto['POPU'].sum()
table.loc[16,'PPOVERTY'] = np.sum(loreto['POPU']*loreto['PPOVERTY'])/loreto['POPU'].sum()
# NATIONAL: PERU
table.loc[0,'NAME'] = 'Peru'
table.loc[0,'POPU'] = data['POPU'].sum()
table.loc[0,'PLITERACY'] = np.sum(data['POPU']*data['PLITERACY'])/data['POPU'].sum()
table.loc[0,'PPOVERTY'] = np.sum(data['POPU']*data['PPOVERTY'])/data['POPU'].sum()

# Post-processing
# table['POPU'] = temp['POPU'].astype(np.int64)
table.index.name = 'UBIGEO'
table[['PLITERACY','PPOVERTY']] = table[['PLITERACY','PPOVERTY']] *100
table

/Users/dlee/anaconda3/envs/dlee_sovi/lib/python3.6/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/Users/dlee/anaconda3/envs/dlee_sovi/lib/python3.6/site-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                     NAME        POPU  PLITERACY   PPOVERTY
UBIGEO
160101            Iquitos    146853.0  92.554352   9.810000
160102         Alto Nanay      2855.0  80.582892  47.050000
160108           Punchana     75210.0  87.958849  24.150000
160112              Belen     64488.0  88.058201  33.320000
160113  San Juan Bautista    127005.0  88.010292  23.940000
1601               Maynas    479866.0  88.227179  25.492316
16                 Loreto    875730.0  84.962258  37.752406
0                    Peru  28797215.0  88.947583  25.121913

In [227]:
table.to_excel('./data/iquitos_literacy_poverty.xlsx')